{% extends 'layout.html' %}


{% block title %} Lista Bitacoras {% endblock %}



{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"  />

{% block content %}

<div class="caja_IS">
    <br><br><br><br><br><br><br><br><br><br>
    <h2>Iniciar sesión</h2>
                
    <form action="." method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="button">Iniciar Sesion</button>
    </form>

</div>

<style>
    .box{
        background: url("{% static 'images/FondoInicioSesion.jpg' %}") no-repeat center center fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        height: 100%;
    }
</style>

{% endblock %}
