{% extends 'layout-staff.html' %}
{% block title %}
Detalles
{% endblock %} 
{% block content %}
<br><br><br>
<h2>Detalles</h2>
<br>
<p>Nombre Empleado : {{ object.Nombre }}</p>
<p>Numero de Departamento : <a href='/departamento/{{ object.Departamento.id }}/detalles'>  {{ object.Departamento }} </a></p>
<p>Fecha : {{ object.Fecha }}</p>
<p>Hora : {{ object.Hora }}</p>
<p>Sumario : {{ object.Sumario }}</p>
<p>Recibido : {{ object.Recibido }} </p>
<p>Entregado : {{ object.Entregado }}</p> <br>

<a href='../editar/'> Editar encomienda </a> <br>
<a href='../borrar/'> Borrar Encomienda </a> <br>
{% endblock %}