{% extends 'layout-staff.html' %}
{% block title %}
Crear Encomienda
{% endblock %} 
{% block content %}
<br><br><br>
<h2>Encomienda</h2>
<br>
<form action='.' method='POST' aling>{% csrf_token %}
    {% for field in form %}
    
    {% if field.name == 'Recibido' or field.name == 'Entregado' %}
        <div>
            {{ field.errors }}
            {{ field.name }} :
            {{ field }}
        </div>
    {% else %}
        <div>
            {{ field.errors }}
            {{ field.name }} :<br>
            {{ field }}
        </div>
    {% endif %}
    {% endfor %}
    <br>
    <input type='submit' value='Guardar'/>
</form>
{% endblock %}