/* Estilos Generales */
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-decoration: none;
}

/* Estilos Cabecera */

header{
    width: 100%;
    height: 70px;
    background-color: #004a81;

}

#logotipo {
    width: 11%;
    height: 56px;
    margin: 0 auto;
}

#logotipo h2{
    display: block;
    width: 50%;
    letter-spacing: 2px;
    font-weight: normal;
    margin-left: 10px;
    margin-top: 18px;
    float: left;
    color: rgb(248, 248, 248);
}

#logotipo img{
    display: block;
    width: 43px;
    float: left;
    margin-top: 6px;
}

/* Barra de Navegacion */

nav{
    width: 100%;
    height: 40px;
    border: 0px solid #fff;
    box-shadow: 0px 10px 8px gray;
    background-color: #fafafa
}

nav ul{
    list-style: none;
    text-decoration: none;
    margin-left: 43%;

}

nav ul li{
    line-height: 40px;
    float: left;
}

nav ul li a{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(95, 95, 95);
    font-size: 17px;
}

nav ul li a:hover {
    background-color: #004a81;
    box-shadow: 0px 0px 50px #004a81 inset;
    color: rgb(255, 255, 255);
    transition: all 1s;
}


/* Estilo Contenido Central */

#content {
    width: 100%;
    min-height: 1150px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.box {
    background-color: white;
    width: 100%;
    min-height: 1120px;
    border: 0 solid #ddd;
}


.tituloc{
    visibility: inherit;
}

/* Body */

body {
    background-color: #eeee;
}


/* Inicio Imagen */

.imagen{
    position: absolute;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-family: Arial;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    font-size: 60px;
    left: 50%;
    top: 50%;
    min-height: 0px;
    max-height: none;
    transform: translateX(-50%) translateY(-50%);
}
.imagen2{
    position: absolute;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-family: Arial;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    font-size: 60px;
    left: 50%;
    top: 57%;
    min-height: 0px;
    max-height: none;
    transform: translateX(-50%) translateY(-50%);
}

/* Footer */

.footerinho {
    height: 200px;
    background-image: url("/static/images/footer.png");
    background-size: contain;
}


footer{
    width: 100%;
    background-color: #004a81;
    color: white;
    height: 175px;
    text-align: center;
    bottom: 0px;
    position: relative;
}

.main_content {
    display: flex;
    margin-left: 432px;
    margin-right: 432px;
}

.main_content h2{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.main_content .content {
    margin: 20px 0 0 0;
}


.left_box {
    text-align: left;
    flex-basis: 25%;
}

.left_box .content {
    text-align: left;
    background-size: contain
}

.center_box {
    flex-basis: 50%;
}

.telefono {
    margin-bottom: 10px;
    margin-top: 10px;
}

.correo {
    margin-top: 10px;
}


.right_box {
    flex-basis: 25%;
}

/* Contenido de Servicio ! */

.flexbox {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.flexbox > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.header {
    margin-top: 10%;
    background: white;
    height: 50px;
    color: #004a81;
    text-transform: uppercase
}


.contenido_servicio {
    display: flex;
    text-align: left;
    width: 57%;
    flex-wrap: wrap;
    background-color: white;
    height: 300px;
    font-size: 24px;
}

.contenido_servicio p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    line-height: 1.8;
}

.contenido_servicio p strong{
    color: black;
}

@media all and (min-width: 800px){
    .contenido_servicio{
        flex: 3;
    }

    .aside1{
        order: 4;
    }

    .aside2{
        order: 4;
    }

    .contenido_servicio {
        order: 2;
    }

    .footer_servicio {
        order: 4;
    }
}


@media all and (min-width: 600px) {
    .aside {
        flex: 1;
    }
}

/* Personalizacion aside 1 */

.aside1{
    background-color: rgba(253, 253, 253, 0.933);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}

.image_aside1 {
    height: 30%;
    background: url(../images/check.png) no-repeat center center;
    background-size: auto;
}

.aside1 p {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

/* Personalizacion aside 2 */

.aside2 {
    background-color: rgba(253, 253, 253, 0.933);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}

.image_aside2 {
    height: 30%;
    background: url(../images/thumbup.png) no-repeat center center;
    background-size: auto;
}

.aside2 p {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

/* Personalizacion footer servicio*/

.footer_servicio {
    background-color: #006eff;
    height: 400px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}

.image_footer {
    height: 40%;
    background: url(../images/monitor.png) no-repeat center center;
    background-size: auto;
    border-bottom: 1px solid #006eff;
}

.titulo_footer {
    color: white;
}

.contenido_footer {
    margin-top: 30px;
    color: white;
    font-size: 20px;
}


/* Nav del staff */

.nav_staff{
    margin-left: 0%;
  

}

/* Personalizacion Inicio de Sesion */

.caja_IS {
    margin-left: 65%;
}

